<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.col-sm-3 {
	width: 16%;
	margin-right: 25px;
}

submit_button {
	margin-top: 2% !important;
}

.col-sm-2 {
	width: 13%;
	margin-right: 25px;
}

.page_container {
	max-width: 1170px;
	margin: 0 auto;
}

.cssShow {
	display : block;
	}

	.cssHide {
		display : none;
	}

label {
	margin-bottom: 0px;
}

body {font-family: Arial, Helvetica, sans-serif;}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
header .menu.simple li a {
	color: #212529 !important;
}
.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .col-sm-3 {
    width: 100%;
    margin-right: 25px;
  }
  
  .col-sm-2 {
    width: 100%;
    margin-right: 25px;
  }
  
  .page_container {
    width: auto;
  }
  
  .form-inline input {
    margin: 10px 0;
  }
  
    #mpr_report {
	overflow: scroll;
}
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) { 
  .col-sm-2 {
	width: 17%;
	margin-right: 25px;
}

  .page_container {
    width: auto;
   padding-left:15px;
   padding-right:15px;
  }
}


.row.align-middle {
    margin: 0 auto !important; 
}
</style>

<script>
 
     
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

$(document).ready(function() {
  // validation
  document.getElementById("validation_div").innerHTML= "";
  document.getElementById("submit_tag").addEventListener("click", function(event){
    
    document.getElementById("validation_div").innerHTML= "";
    var validation_content='';
    var location = document.getElementById("report-location").value;
    var month = document.getElementById("month-selector").value;  
    if (location == "" || month == "")
      {
        if (location == "")
          {
            validation_content += '<label id = "location_validate" style="color: red">please select state</label>';
          }
        if (month == "")
          {
            validation_content += '<label id = "month_validate" style="color: red">please select a month</label>';
          }  
        document.getElementById("validation_div").innerHTML= validation_content;
        event.preventDefault();
      }
    });

    $('#month-selector').on('change',function(){
      var month = $('#month-selector').val();
      if(month!= "")
        {
          document.getElementById("month_validate").innerHTML = "";
        }
        
    });

    $('#report-cell').on('change',function(){
      var sub_cell = $('#report-cell').val();
      if(sub_cell.includes(""))
        {
          document.getElementById("report-cell").selectedIndex = 0;
        }
        console.log($('#report-location').val());
        console.log($('#report-district').val());
        console.log($('#report-cell').val());
        
    });

    $('#report-district').on('change',function()
    {
      //document.getElementById("submit_button").setAttribute("style","margin-top: 4%")
      $('#cell-div').removeClass('cssShow').addClass('cssHide');
      var el = $('#report-cell');
      el.empty(); // remove old subcell options

      var cell = $('#report-district').val();

      if(cell.includes(""))
        {
          document.getElementById("report-district").selectedIndex = 0;
        }
      else if(cell.length == 1 && !cell.includes(""))
        {
          cell_map_json = <%= @cell_map_array.to_json.html_safe%>;
          if (cell[0] in cell_map_json)
            {
              subcell = cell_map_json[cell[0]];
              var el = $("#report-cell");
              el.empty();
              subcell.forEach(function(value) {
                if (value[1] == null)
                  {
                    el.append($("<option></option>")
                  .attr("value", "").text(value[0]));
                  }else{
                    el.append($("<option></option>")
                    .attr("value", value[1]).text(value[0]));
                  }
              });
  
              $('#cell-div').removeClass('cssHide').addClass('cssShow');
            }
        }
        
    });

    $('#report-location').on('change', function() {
      
      //document.getElementById("submit_button").setAttribute("style","margin-top: 4%")
      $('#district-div').removeClass('cssShow').addClass('cssHide'); //hide subcell and cell on location change
      $('#cell-div').removeClass('cssShow').addClass('cssHide');

      var el = $('#report-cell');
      el.empty(); // remove old subcell options

      var el = $('#report-district');
      el.empty(); // remove old cell options

      var location = document.getElementById("report-location").value;    
      if (location!="")
        {
          //document.getElementById("state_validate").innerHTML = ""; 
          var element_exist =  document.getElementById('location_validate');
          if (typeof(element_exist) != 'undefined' && element_exist != null)
            {
              document.getElementById("location_validate").innerHTML = ""; 
            }
            
            location_array = <%= @location_map_array.to_json.html_safe%>;
            district_array = location_array[location];
            
            var el = $('#report-district');
            el.empty(); // remove old cell options

            district_array.forEach(function(value) {
              if (value[1] == null)
                {
                  el.append($("<option></option>")
                .attr("value", "").text(value[0]));
                }else{
                  el.append($("<option></option>")
                  .attr("value", value[1]).text(value[0]));
                }
            });

            $('#district-div').removeClass('cssHide').addClass('cssShow');
            
        }
        
    });


    $('#end_date_field').on('change', function() {
      var end_date = document.getElementById("end_date_field").value;
      var start_date = document.getElementById("start_date_field").value;
      if (end_date!="")
        {
      //document.getElementById("end_date_validate").innerHTML = ""; 
      var element_exist =  document.getElementById('end_date_validate1');
      if (typeof(element_exist) != 'undefined' && element_exist != null)
        {
          document.getElementById("end_date_validate1").innerHTML = ""; 
        }
      }
      if (start_date!= "" && end_date!= "")
        {
          if(new Date(start_date)<= new Date(end_date))
            {
              //document.getElementById("date_validation").innerHTML = "";
              var element_exist =  document.getElementById('date_validation1');
              if (typeof(element_exist) != 'undefined' && element_exist != null)
                {
                  document.getElementById("date_validation1").innerHTML = "";
                }
            }
          
        }
      
    });
    
    $('#start_date_field').on('change', function() {
      var start_date = document.getElementById("start_date_field").value;
      var end_date = document.getElementById("end_date_field").value;
      if (start_date!="")
        {
      //document.getElementById("start_date_validate").innerHTML = "";
      var element_exist =  document.getElementById('start_date_validate1');
      if (typeof(element_exist) != 'undefined' && element_exist != null)
        {
          document.getElementById("start_date_validate1").innerHTML = "";  
        }
        }
      if (start_date!= "" && end_date!= "")
        {
          if(new Date(start_date)<= new Date(end_date))
            {
              //document.getElementById("date_validation").innerHTML = "";
              var element_exist =  document.getElementById('date_validation1');
              if (typeof(element_exist) != 'undefined' && element_exist != null)
                {
                  document.getElementById("date_validation1").innerHTML = "";
                }
            }
          
        }
    });

});

</script>

<div class="container">
    <br>
    <h2 style="color: #819f56">Monthly Report</h2>
    <div align="right">
    <!-- ><%= link_to "",{:controller => "monthly_reports", :action => "generate_pdf", :format=> 'pdf',:data =>  @data}, {:class => "fa fa-file-pdf-o", :style => "font-size:30px;color:red", :"data-toggle" => "tooltip", :title => "Download pdf", :"data-placement" => "bottom", :target => "_blank"} %> <-->
    <a id="generate" class="fa fa-file-excel-o" style ="font-size:30px;color:green" data-toggle="tooltip" title="Download excel" data-placement="bottom" target = "_blank"></a>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-body" style="padding: 20px">

                <div id = "validation_div"></div>
                <% if @date_validation == "true" %>
                      <label style="color: red">start date cannot be greater than end date</label>
                        <% end %>
                <%= form_tag("/monthly_reports/submit_form", method: "post", class: 'form-inline', name:"myForm", id:"submit_form_for_monthly_report") do %>

                <div class="col-sm-3">
                  <label>Select month<span style="color: red">*</span></label>
                  <%= select_tag 'month_select', options_for_select(@month_array),{:id => "month-selector"} %>
                </div>
                <div class="col-sm-3">
                  <label>Select year<span style="color: red">*</span></label>
                  <%= select_year(@start_date_for_display, start_year: 1900, end_year: Date.current.year, name: "year", id: "year-selector") %>
                </div>

                <div class="col-sm-2" id="locations">
                    <label>State<span style="color: red">*</span></label>
                    <%= select_tag 'location', options_for_select(@location_array),{:id => "report-location"} %>
                    <% if @location_not_selected == "true" %>
                      <label style="color: red">please select location</label>
                    <% end %>   
                </div>

                <div id="district-div" class="col-sm-2">    
                    <div class="cell">
                        <label>District</label>
                        <%= select_tag 'district', options_for_select(@maha_location_array),{:id => "report-district",:multiple => true} %>
                    </div>
                </div>
                <div id="cell-div" class="col-sm-2">    
                    <div class="cell">
                        <label>Cell</label>
                        <%= select_tag 'cell', options_for_select(@maha_location_array),{:id => "report-cell",:multiple => true} %>
                    </div>
                </div>
                <div class="col-sm-2" id="submit_button" style="margin-top: 2%;">
                    <%= submit_tag "Generate Report", :name => 'save', :id => 'submit_tag' ,:class => "button btn_submit large" %>
                </div>

            <% end %>
            </div> 
        </div>
        <br>
    <br>
    
    <div id="mpr_report" style="border-style: solid;border-color: #819f5673;">
    <div>
    <table class="dataTable in_content_area reports">
    <thead>
      <tr>
        <th style="text-align:center" align="center">Special Cells for Women</th>
      </tr>
      <tr>
        <th style="text-align:center" align="center">Consolidated Monthly Progress Report</th>
      </tr>
    </thead>
    </table>

    <table hidden>
      <tr>
        <td style="text-align:left" align="left">State : <%=@state_name %></td>
      </tr>
      <% if @district_name != "" %>
        <tr>
          <td style="text-align:left" align="left">District : <%=@district_name %></td>
        </tr>
      <% end %> 
      <% if @cell_name != "" %>
        <tr>
          <td style="text-align:left" align="left">Cell : <%=@cell_name %></td>
        </tr>
      <% end %> 
      <tr>
        <td style="text-align:left" align="left">Month: <%=@month %></td>
      </tr>
      <tr>
        <td style="text-align:left" align="left">Year: <%=@year_to_display %></td>
      </tr>
    </table>

    <div class="table-responsive" style="overflow: scroll; margin-top:2%" >
      <table class="dataTable in_content_area reports" id = "demo">
        <thead>
        <tr style="border:1px solid #a49999; border-collapse: none;">
          <th style="border-left:1px solid #a49999; border-top:1px solid #a49999; border-bottom: 2px solid #a49999;"><b>Sr.No.</b></th>
          <th style="border-top:1px solid #a49999; border-bottom: 2px solid #a49999;"><b>Client Profile & Details</b></th>
          <% if @selected == "state_selected" %>
          <th style="border-top:1px solid #a49999; border-bottom: 2px solid #a49999;"><b><%=@state_name %></b></th>
          <% else %>
            <% @mpr_data.each do |data| %>
              <th style="border-top:1px solid #a49999; border-bottom: 2px solid #a49999;"><b><%= data['district'] %></b></th>
            <%end %>
          <% end %>
          </tr>
        </thead>
        <tbody>

        <tr>
            <td>1</td>
            <td>New registered cases during the month</td>
            <% @mpr_data.each do |data| %>
            <td><%= data["new_reg_app_total"] %></td>
            <%end %>
        </tr> 

        <tr>
            <td>1.1</td>
            <td>New registered application that were previously one time intervention</td>
            <% @mpr_data.each do |data| %>
            <td><%= data["new_registered_application_that_was_previously_one_time_intervention"] %></td>
            <%end %>
        </tr> 

        <tr>
            <td>2</td>
            <td>Ongoing client (from previous months / not registered in this month)</td>
            <% @mpr_data.each do |data| %>
            <td id="on_going_intevention_count"><%= data["on_going_intevention_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>3</td>
            <td>Cases sent back to E.O.</td>
            <% @mpr_data.each do |data| %>
            <td id="cases_sent_back_to_eo"><%= data["cases_sent_back_to_eo"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>4</td>
            <td>One Time Intervention</td>
            <% @mpr_data.each do |data| %>
                <td id="one_time_intervention_count"><%= data["one_time_intervention_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td rowspan = 2>5</td>
            <td>Home visits</td>
            <% @mpr_data.each do |data| %>
                <td><%= data["home_visit_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>Collateral visits</td>
            <% @mpr_data.each do |data| %>
                <td id="collateral_visits_count"><%= data["collateral_visits_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>6</td>
            <td>Individual meeting</td>
            <% @mpr_data.each do |data| %>
                <td id="individual_meeting_count_total_count"><%= data["individual_meeting_with_survivor_count"] + data["individual_meeting_other_than_survivor_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>6.1</td>
            <td>Individual meeting with survivors</td>
            <% @mpr_data.each do |data| %>
                <td id="individual_meeting_with_survivor_count"><%= data["individual_meeting_with_survivor_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>6.2</td>
            <td>Individual meeting with those other than survivors</td>
            <% @mpr_data.each do |data| %>
                <td id="individual_meeting_other_than_survivor_count"><%= data["individual_meeting_other_than_survivor_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>7</td>
            <td>Joint / group meetings</td>
            <% @mpr_data.each do |data| %>
                <td id="group_meeting_count"><%= data["group_meeting_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>8</td>
            <td>Engaging police help</td>
            <% @mpr_data.each do |data| %>
              <td id="engaing_police_help_count"><%= data["engaing_police_help_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>9</td>
            <td>Participation in workshops /  conferences / seminars / meetings on violence against women especially as a resource person</td>
            <% @mpr_data.each do |data| %>
              <td id="participation_count"><%= data["participation_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>10</td>
            <td>Workshops / programme / meetings organised</td>
            <% @mpr_data.each do |data| %>
              <td id="programs_organised_count"><%= data["programs_organised_count"] %></td>
            <%end %>
        </tr>

        <tr>
            <td><b>11</b></td>
            <td><b>Intervention outcomes</b></td>
            <% @mpr_data.each do |data| %>
            <td id="intervention_outcomes"><b><%= data["non_violent_reconcilation"] + data["sent_back_to_eo_fr_legal_action"] + data["sent_back_to_eo_for_dv_act"] + data["sent_back_to_eo_for_mediation"] + data["any_other_intervention_outcomes"] %></b></td>
            <%end %>
        </tr>

        <tr>
            <td>11.1</td>
            <td>Non-violent reconciliation (Facilitated within Cell / SSU vide joint meetings)</td>
            <% @mpr_data.each do |data| %>
              <td id="non_violent_reconcilation"><%= data["non_violent_reconcilation"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>11.2</td>
            <td>Sent back to E.O for legal action,with recommendations / preparation of woman survivor with knowledge of legal options</td>
            <% @mpr_data.each do |data| %>
              <td id="sent_back_to_eo_fr_legal_action"><%= data["sent_back_to_eo_fr_legal_action"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>11.3</td>
            <td>Sent back to E.O. for DV Act, with recommendations for referral / preparation of woman survivor with knowledge of reliefs available under PWDVA 2005</td>
            <% @mpr_data.each do |data| %>
              <td id="sent_back_to_eo_for_dv_act"><%= data["sent_back_to_eo_for_dv_act"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>11.4</td>
            <td>Sent back to E.O. for mediation, with recommendations for terms of potential agreements / settlements and with preparation of woman survivor on points of her best interests for violence free future life</td>
            <% @mpr_data.each do |data| %>
              <td id="sent_back_to_eo_for_mediation"><%= data["sent_back_to_eo_for_mediation"] %></td>
            <%end %>
        </tr>

        <tr>
            <td>11.5</td>
            <td>Any Other</td>
            <% @mpr_data.each do |data| %>
              <td id="any_other_intervention_outcomes"><%= data["any_other_intervention_outcomes"] %></td>
            <%end %>
        </tr>

        </tbody>
      </table>
      </div>
</div>
</div>

<script>
var state= "<%=@selected_state %>";
var district = <%=@district_to_show_in_view.to_json.html_safe %>;
var cell =  <%=@cell_to_show_in_view.to_json.html_safe %>;
var month = "<%=@month_to_display%>";
var year = "<%=@year_to_display%>";

$("#report-location").val(state);
$("#month-selector").val(month);
//document.getElementById("year-selector").defaultValue = "<%=@start_date_for_display %>";

//select district and cell

if (district!= null)
{ 
  if (district[0]!= "")
    {
      
      district_array = <%=@district_to_show_in_view.to_json.html_safe %>;
      var el = $('#report-district');
      el.empty(); // remove old cell options

      district_array.forEach(function(value) {
        if (value[1] == null)
          {
            el.append($("<option></option>")
          .attr("value", "").text(value[0]));
          }else{
            el.append($("<option></option>")
            .attr("value", value[1]).text(value[0]));
          }
      });
      $('#district-div').removeClass('cssHide').addClass('cssShow');
    }else
    {
      $('#district-div').removeClass('cssShow').addClass('cssHide');
      var el = $('#report-district');
      el.empty(); // remove old cell options
    }
}
else
  {
    $('#district-div').removeClass('cssShow').addClass('cssHide');
    var el = $('#report-district');
    el.empty(); // remove old cell options
  }  


if (cell!= null)
  { 
    if (cell[0]!= "")
      {
        cell_array = <%=@cell_to_show_in_view.to_json.html_safe %>;
        var el = $('#report-cell');
        el.empty(); // remove old cell options

        cell_array.forEach(function(value) {
          if (value[1] == null)
            {
              el.append($("<option></option>")
            .attr("value", "").text(value[0]));
            }else{
              el.append($("<option></option>")
              .attr("value", value[1]).text(value[0]));
            }
        });
        $('#cell-div').removeClass('cssHide').addClass('cssShow');
        }
    else
      {
        $('#cell-div').removeClass('cssShow').addClass('cssHide');
        var el = $('#report-cell');
        el.empty(); // remove old subcell options
      }
  }
  else
    {
      $('#cell-div').removeClass('cssShow').addClass('cssHide');
      var el = $('#report-cell');
      el.empty(); // remove old subcell options
    }  
      
   function generateExcel(el) {
    var clon = el.clone();
    var html = clon.wrap('<div>').parent().html();

    //add more symbols if needed...
    

    window.open('data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,' + encodeURIComponent(html));
}
$("#generate").click(function (event) {
    generateExcel($("#mpr_report"));
});

</script>
