<div class="container">
	<div class="row">
		<div class="large-12 small-12 columns">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<a id="generate" class="fa fa-file-excel-o" data-toggle="tooltip" title="Download csv" data-placement="bottom" target = "_blank"></a>
		<h3>Secondary Psychological Care</h3>
		<%= form_tag("/all_reports/secondary_psychological_care/submit_form", class: "form-inline" ,method: "post", class: 'form-inline', name:"myForm", id:"submit_form_for_monthly_report") do %>
				<label>Start Date</label>
				<%= date_field_tag(:start_date, Date.today, :id => 'start_date_field', :max => Date.today)%>

				<label>End Date</label>
				<%= date_field_tag(:end_date, Date.today, :id => 'end_date_field', :max => Date.today)%>

				<button type="submit">Submit</button>
			<% end %>
		</div>
		<div style="margin-top: 5%;" id="report">
			<table class="dataTable in_content_area reports">
				<thead>
					<tr>
						<td>Period</td>
						<td>Total no. of cases</td>
						<td>No. of cases with identified secondary psychological needs</td>
						<td>No. of cases where secondary psychological need provided through in-house psychologist</td>
						<td>Total no. of counselling sessions</td>
						<td>Average number of counselling sessions per case</td>
					</tr>
				</thead>
				<tbody>
					<% @data.each do |i|%>
						<tr>
							<td><%= i['year'] %></td>
							<td id="total_case"><%= i['total_case'] %></td>
							<td id="secondary_psycho_needs"><%= i['secondary_psycho_needs'] %></td>
							<td id="in_house"><%= i['in_house'] %></td>
							<td id="total_count"><%= i['total_count'] %></td>
							<td>-</td>
						</tr>
					<% end %>
				</tbody>	
			</table>
			<script>
			function download_csv(csv, filename) {
				var csvFile;
				var downloadLink;

				// CSV FILE
				csvFile = new Blob([csv], {type: "text/csv"});

				// Download link
				downloadLink = document.createElement("a");

				// File name
				downloadLink.download = filename;

				// We have to create a link to the file
				downloadLink.href = window.URL.createObjectURL(csvFile);

				// Make sure that the link is not displayed
				downloadLink.style.display = "none";

				// Add the link to your DOM
				document.body.appendChild(downloadLink);

				// Lanzamos
				downloadLink.click();

				document.body.removeChild(downloadLink);
				
			}

			function export_table_to_csv(html, filename) {
				var csv = [];
			
				csv.push("From Date : <%= @start_date %>");
				csv.push("To Date : <%= @end_date %>");
				var rows = html.querySelectorAll("tr");
				
				 
				for (var i = 0; i < rows.length; i++) {
					var row = [], cols = rows[i].querySelectorAll("td, th");
						for (var j = 0; j < cols.length; j++)
						{
							row.push(cols[j].innerText);
						}
						csv.push(row.join(","));		
					}

					// Download CSV
					download_csv(csv.join("\n"), filename);
			}

			document.getElementById("generate").addEventListener("click", function () {
					var html = document.getElementById("report");
				export_table_to_csv(html, "Secondary psychological care.csv");
			});
		</script>
		</div>
	</div>
</div>
